.fixed-height {
    height: 14rem;
    margin-top: 0;
}

.card-image-topper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: 10rem;
}