#addrow, #addfail {
    z-index: 10 !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.movie-img {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}