#addrow, #addfail {
    z-index: 10 !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.movie-img {
    width: 100%;
    max-width: fit-content;
    text-align: center;
}

.movie-img > img {
    width: -webkit-fill-available;
}